---

import WorkshopCard from "../../components/WorkshopCard.astro";
import { getCollection, getEntryBySlug } from "astro:content";

export async function getStaticPaths() {
    const workshops = await getCollection("workshopsCollection");
    return workshops.map((workshop) => ({
        params: { slug: workshop.slug },
    }));
}

const { slug } = Astro.params;
const workshop = await getEntryBySlug("workshops", slug);
---

<WorkshopCard title={workshop.data.title}>
    <h1>{workshop.data.title}</h1>
</WorkshopCard>

