---
/* check WorkshopCard.astro to get an idea of how to use these themes */
const themes = ["grey", "green", "black"];
import { getCollection } from "astro:content";
const workshops = await getCollection("workshops");
---

<section class="container" id="workshops">
  <header>
    <h2><span>Workshops</span></h2>
    <p>
      These workshops offer hands-on introductions to creative technologies,
      empowering artists, designers, and musicians to explore digital tools as
      expressive, interactive mediums.
    </p>
  </header>
  <ul>
    {
      workshops.map((workshop) => (
        <li>
          <a href={`/workshops/${workshop.slug}`}>{workshop.data.title}</a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  ul {
    display: flex;
    flex-flow: column;
    gap: var(--sp-m);
  }
</style>
